<%= form_for @recipe do |f| %>
<p>  Title: <%= f.text_field :title %></p>

<ul>

  <%= f.fields_for :ingredients do |i| %>

  <li>

      <%= i.label :name %>
      <%= i.text_field :name %>

      <%= i.label :quantity %>
      <%= i.text_field :quantity%>
  </li>
      <%= link_to 'add ingredient', recipe %>
</ul>
  <% end %>
  <%= f.submit %>
<% end %>
